.header {
  text-align: center;
  margin-top: 3rem;
}

.image {
  width: 7rem;
  max-width: 100%;
  object-fit: contain;
  margin: 1rem auto;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

@media (max-width: 768px) {
  .header {
    padding: 2rem 0 0 0;
    text-align: center;
  }

  .image {
    width: 5rem;
    margin: 0 auto;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0.3rem;
  }

  .image {
    width: 4rem;
    margin: 0.3rem auto;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
  }
}
